@import '~bootstrap/scss/bootstrap';

$border-color: #abbedd;
$background-color: #abbedd;
$button-color: #cab9e6;
$button-hover-color: #7345be;
$modal-color: #3ba3cc;

body {
  background-color: $background-color;
}

.border {
  padding: 2em;
}

#authedView {
  display: none;
}

#unAuthedView {
  display: block;
}

#gameboard {
  display: none;
}

h1 {
  clear: both;
  text-align: center;
}

.flex-grid {
  align-content: center;
  background-color: $button-color;
  display: flex;
  height: 90px;
  margin: auto;
  width: 33%;
}

.col {
  align-content: center;
  border: 1px solid $border-color;
  font-size: 20px;
  font-weight: 800;
  padding: 40px;
}

.col:hover {
  background-color: $button-hover-color;
}

#create-game {
  display: flex;
  justify-content: center;
  margin: 1em;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.modal-dialog {
  background-color: $modal-color;
  margin: 15% auto;
  // 15% from the top and centered
  padding: 20px;
  width: 50%;
  // Could be more or less, depending on screen size
}
